@charset 'utf-8';

$palette: (
  akaroa:         #DBD1B7,
  alabaster:      #F8F8F8,
  cararra:        #E9E7E0,
  cardinal:       #B91E25,
  go-ben:         #766F54,
  vanilla-ice:    #F1CFD1,
  zeus:           #2C291F
);
