@charset 'utf-8';

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

figure {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: 'Adobe Caslon Pro', Helvetica;
  font-size: 100%;
}
